#ImageSlideshow {
  width: 100%;
}

#ImageSlideshow #image_container {
  width: 100%;
  display: flex;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}


#ImageSlideshow #image {
  width: 100%;
}


#ImageSlideshow #title_container {
  width: calc(100% - 40px);
  padding: 10px 20px;
  background-color: rgb(0, 0, 0, .85);
  flex-grow: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#ImageSlideshow #img_title {
  color: white;
  margin: 0px;
}

#ImageSlideshow #img_description {
  color: white;
  margin: 0px;
}

#ImageSlideshow #buttons_container {
  display: flex;
  justify-content: center;
}

#ImageSlideshow .img_select_button_selected {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  border: none;
  margin: 7px;
}

#ImageSlideshow .img_select_button_unselected {
  height: 16px;
  width: 16px;
  background-color: #cecece;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 7px;
}

#ImageSlideshow .img_select_button_unselected:hover {
  background-color: #bcbcbc;
}

/* Zoomed In -----------------------------------------------------------------*/

#ImageSlideshow #zoomed_in_page_container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
}

#ImageSlideshow #zoomed_in_page_container #zoomed_in_image_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
  overflow: auto;
}

#ImageSlideshow #zoomed_in_page_container #scroll_target {
  margin-left: 780px;
  height: 1px;
  width: 1px;
  background-color: inherit;
}

#ImageSlideshow #zoomed_in_page_container #zoomed_in_image {
  height: 100%;
}
