#ItemCard {
  height: 100%;
  width: 100%;
  background-color: #353535;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 5px 10px 15px grey;
}

#ItemCard #title_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #282828;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px 0px;
  flex-grow: 0;
}

#ItemCard #body_section {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}


#ItemCard #item_card_title {
  font-size: 2.0em;
  color: white;
  margin: 0px;
}

#ItemCard #item_card_subtitle {
  font-size: 1.5em;
  color: #eaeaea;
  font-style: italic;
  margin: 0px;
}

#ItemCard #footer_text {
  margin-bottom: 10px;
  font-size: 1.3em;
  text-align: center;
}

#ItemCard .regular_text {
  color: white;
  margin: 40px 20px 0px 20px;
  font-size: 1.7em;
}

#ItemCard .list_text {
  color: #eaeaea;
  margin: 5px 40px;
  font-size: 1.4em;
}
