#TechChart {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;
}

#TechChart #card_container {
  background-color: #f4f4f4;
  height: 100%;
  flex-grow: 2;
  height: 100%;
  padding: 20px;
  box-shadow: 5px 10px 15px grey;
  border-radius: 5px;
  margin: 10px;
}

#TechChart #item_card_container {
  min-height: 400px;
  width: 500px;
  flex-grow: 1;
  margin: 10px;
}

#TechChart #chart_title_row {
  display: flex;
  align-items: center;
}

#TechChart .language_clickable {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  background-color: #cecece;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#TechChart .language_clickable:hover {
  background-color: #bcbcbc;
}

#TechChart .language_text {
  margin: 0px;
}

#TechChart #landscape_container .item_image {
  padding: 5px;
  cursor: pointer;
}

/* Landscape -----------------------------------------------------------------*/

#TechChart #landscape_container {

}

#TechChart  #landscape_container #tech_items_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 70px;
  flex-wrap: wrap;
}

#TechChart #landscape_container .tech_item {
  width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Mobile ------------------------------------------------------------------- */

#TechChart #mobile_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 10px 15px grey;
  background-color: #f4f4f4;
}

#TechChart #mobile_container #tech_stack_title_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

#TechChart #mobile_container #tech_stack_text {
  font-size: 2.2em;
  margin-bottom: 10px;
  padding: 0px 20px;
  border-bottom: 2px solid black;
}

#TechChart #mobile_container #tech_item_title {
  font-size: 2.2em;
  margin: 0px;
}

#TechChart #mobile_container #close_item_button {
  font-size: 1.3em;
  background-color: inherit;
  border: none
}

#TechChart #mobile_container #languages_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

#TechChart #mobile_container #tech_items_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#TechChart #mobile_container .tech_item {
  width: 140px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#TechChart #mobile_container .item_image {
  width: 100px;
  height: 100px;
}

#TechChart #mobile_container .written_in_text {
  margin: 2px;
}

#TechChart #mobile_container #written_in_text_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

#TechChart #mobile_container #description_container {
  text-align: left;
}
